<div class="my-3 mx-3">
    <h2>Interval & Timer</h2>
    <br>
    <div class="definition-card">
        <p>
            <b>Interval:</b> Creates an Observable that emits numbers in sequence (0, 1, 2, …) at regular time
            intervals.
            Useful for repeated actions like clocks, polling, or animations.
        </p>
        <br>
        <p>
            <b>Timer:</b> Creates an Observable that waits for a specified delay before emitting.
            With one argument, it emits once; with two arguments, it emits repeatedly after the initial delay.
            Useful for delayed or scheduled tasks.
        </p>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> User 1 </div>
                <div class="card-body">
                    <ul id="container"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> User 2 </div>
                <div class="card-body">
                    <ul id="container1"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> User 3 </div>
                <div class="card-body">
                    <ul id="container2"></ul>
                </div>
            </div>
        </div>
    </div>
</div>