<div class="card-container">
    <div class="card" routerLink="from-event">fromEvent</div>
    <div class="card" routerLink="interval">interval & timer</div>
    <div class="card" routerLink="of-from">of & from</div>
    <div class="card" routerLink="to-array">toArray</div>
    <div class="card" routerLink="cust-obs">Custom Observable</div>
    <div class="card" routerLink="map">Map</div>
    <div class="card" routerLink="pluck">Pluck</div>
    <div class="card" routerLink="filter">Filter</div>
    <div class="card" routerLink="tap">Tap</div>
    <div class="card" routerLink="take">Take, TakeLast, TakeUntil</div>
    <div class="card" routerLink="retry">Retry, RetryWhen</div>
    <div class="card" routerLink="debounce-time">DebounceTime</div>
    <div class="card">Taken</div>
    <div class="card">Retry</div>
    <div class="card" routerLink="tab">Tab</div>
    <div class="card" routerLink="subject">Subject</div>
    <div class="card" routerLink="behaviour-subject">Behaviour Subject</div>
    <!-- add more cards as needed -->
</div>