<div class="card-container">
    <div class="card" routerLink="from-event">fromEvent</div>
    <div class="card" routerLink="interval">interval & timer</div>
    <div class="card" routerLink="of-from">of & from</div>
    <div class="card" routerLink="to-array">toArray</div>
    <div class="card" routerLink="cust-obs">Custom Observable</div>
    <div class="card">Map</div>
    <div class="card">Filter</div>
    <div class="card">Retry, RetryWhen...</div>
    <div class="card">DebounceTime...</div>
    <div class="card">Pluck</div>
    <div class="card">Filter</div>
    <div class="card">Retry, RetryWhen...</div>
    <div class="card">DebounceTime...</div>
    <div class="card">Pluck</div>
    <!-- add more cards as needed -->
</div>