<div class="my-3 mx-3" [ngStyle]="{'color': selectedColor}">
    <h2>Tap</h2>
    <br>
    <div class="definition-card">
        <p>
            <b>tap:</b> Allows you to perform side effects for notifications from the source Observable.
            Useful for logging, debugging, or performing actions without affecting the stream.<br>
            <b>Example:</b> <code>tap(value => console.log(value))</code> → logs each emitted value.
        </p>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p class="py-2 px-2">
                <strong>Ex - 01 </strong>
            </p>
            <hr>
            <ul id="container1"></ul>
        </div>
        <div class="col-md-6">
            <p class="py-2 px-2">
                <strong>Ex - 02 </strong>
            </p>
            <hr>
            <ul id="container2"></ul>
        </div>
    </div>
</div>